<app-navigationbar></app-navigationbar>
<app-home (activate)="onActivate($event)"></app-home>
<br>
<br>

<!-- Chamar somente quando o usuário clicar para ir para o carrinho de compras -->
<!-- <app-cart></app-cart> -->
<!-- Chamar somente quando o usuário clicar para ir para o carrinho de compras -->

<!-- <app-produtos></app-produtos> -->
<app-most-played></app-most-played>
<br>
<br>
<app-latest-news></app-latest-news>
<br>
<br>
<app-footer></app-footer>
<app-scroll-top></app-scroll-top>
