/* You can add global styles to this file, and also import other style files */

body {
  background-color: #181818 !important;
  color:#A1A1A1!important;

  // MUDAR ESSA TAG COLOR
}

.title{
  color: #fff!important;
}

.card{
  background-color: #303030;
}

// ADICIONAR ESTILOS PARA AS TAGS: H1, H2, H3, H4, H5 E P
